:root {
	--waves-dark: #03888d;
	--waves-bright: #77f8fa;
	--background-light: #ffffff;
	--background-dark: #f0f0f0;
	--background-hero: rgb(136, 240, 255);
	--title-green: #007586;
}

*,
::before,
::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	min-width: 100vw;
	background-color: var(--background-light);
	font-family: "Montserrat", sans-serif;
}

/* HERO */
.hero {
	height: 400px;
	background: var(--background-hero);
	background: linear-gradient(
		0deg,
		rgba(136, 240, 255, 0.4990371148459384) 0%,
		rgba(136, 240, 255, 1) 100%
	);
	font-family: "Advent Pro", sans-serif;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: end;
	font-family: Advent Pro;
	padding-bottom: 3rem;
}

h1 {
	color: var(--title-green);
	font-style: normal;
	font-weight: 500;
	font-size: 6rem;
	line-height: 115px;
	letter-spacing: 0.12em;
}

h3 {
	color: var(--title-green);
	margin-top: -10px;
}

/* TEXT INSPIRATION */
.text-inspiration {
	height: 300px;
	color: #6f6f6f;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text-inspiration-p {
	max-width: 60vw;
}

/* ABOUT US */
.about-us-span {
	display: flex;
}

.about-us-logo {
	max-height: 7rem;
	padding: 0.5rem 1rem;
	align-self: center;
}

/* PRODUCTS */
.products {
	background-color: #f0f0f0;
	display: flex;
	justify-content: space-around;
	align-content: center;
	padding: 3rem 0;
}

/* FOOTER */
footer {
	color: var(--background-light);
	height: 300px;
	position: sticky;
	background-color: var(--background-hero);
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 600px) {
	.hero {
		height: 300px;
	}
	h1 {
		font-size: 3rem;
	}
	h3 {
		font-size: 1rem;
	}
}
